In [1]:
%matplotlib inline
import math
import pandas as pd
import numpy as np
import warnings
import seaborn as sns 
from scipy import stats
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
from scipy.stats.stats import ttest_ind
from scipy import stats

warnings.filterwarnings('ignore')
###sns.set(style="whitegrid")
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'lifeexpectancy'
table_name = 'lifeexpectancy'

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

lifeDf = pd.read_sql_query('select * from lifeexpectancy',con=engine)
engine.dispose()

# 1) Detect the problems with the data such as missing values and outliers. Are there any nonsense values that seem to be stemmed from the data collection? For the missing values, discuss which technique would be the most suitable one in filling out these values. Regarding the outliers, discuss their potential effects on your analysis and select an appropriate method to deal with them.

In [2]:
lifeDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
Country                            2938 non-null object
Year                               2938 non-null int64
Status                             2938 non-null object
Life expectancy                    2928 non-null float64
Adult Mortality                    2928 non-null float64
infant deaths                      2938 non-null int64
Alcohol                            2744 non-null float64
percentage expenditure             2938 non-null float64
Hepatitis B                        2385 non-null float64
Measles                            2938 non-null int64
 BMI                               2904 non-null float64
under-five deaths                  2938 non-null int64
Polio                              2919 non-null float64
Total expenditure                  2712 non-null float64
Diphtheria                         2919 non-null float64
 HIV/AIDS                          2938 non-null float64
GDP                                2490 non-null float64
Population                         2286 non-null float64
 thinness  1-19 years              2904 non-null float64
 thinness 5-9 years                2904 non-null float64
Income composition of resources    2771 non-null float64
Schooling                          2775 non-null float64
dtypes: float64(16), int64(4), object(2)
memory usage: 505.0+ KB

In [3]:
lifeDf.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [4]:
for column_name in lifeDf.columns:
    print("Unique values in column {} are: {}".format(column_name, lifeDf[column_name].unique()))

Unique values in column Country are: ['Afghanistan' 'Albania' 'Algeria' "CÃ´te d'Ivoire" 'Angola'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Australia' 'Austria'
 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus'
 'Belgium' 'Belize' 'Benin' 'Bhutan' 'Bolivia (Plurinational State of)'
 'Bosnia and Herzegovina' 'Botswana' 'Brazil' 'Brunei Darussalam'
 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cabo Verde' 'Cambodia' 'Cameroon'
 'Canada' 'Central African Republic' 'Chad' 'Chile' 'China' 'Colombia'
 'Comoros' 'Congo' 'Cook Islands' 'Costa Rica' 'Croatia' 'Cuba' 'Cyprus'
 'Czechia' "Democratic People's Republic of Korea"
 'Democratic Republic of the Congo' 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Slovakia'
 'Equatorial Guinea' 'Eritrea' 'Estonia' 'Ethiopia' 'Fiji' 'Finland'
 'France' 'Gabon' 'Gambia' 'Georgia' 'Germany' 'Ghana' 'Greece' 'Grenada'
 'Guatemala' 'Guinea' 'Guinea-Bissau' 'Guyana' 'Haiti' 'Honduras'
 'Hungary' 'Iceland' 'India' 'Indonesia' 'Iran (Islamic Republic of)'
 'Iraq' 'Ireland' 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan'
 'Kenya' 'Kiribati' 'Kuwait' 'Kyrgyzstan'
 "Lao People's Democratic Republic" 'Latvia' 'Lebanon' 'Lesotho' 'Liberia'
 'Libya' 'Lithuania' 'Luxembourg' 'Madagascar' 'Malawi' 'Malaysia'
 'Maldives' 'Mali' 'Malta' 'Marshall Islands' 'Mauritania' 'Mauritius'
 'Mexico' 'Micronesia (Federated States of)' 'Monaco' 'Mongolia'
 'Montenegro' 'Morocco' 'Mozambique' 'Myanmar' 'Namibia' 'Nauru' 'Nepal'
 'Netherlands' 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'Niue' 'Norway'
 'Oman' 'Pakistan' 'Palau' 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru'
 'Philippines' 'Poland' 'Portugal' 'Qatar' 'Republic of Korea'
 'Republic of Moldova' 'Romania' 'Russian Federation' 'Rwanda'
 'Saint Kitts and Nevis' 'Saint Lucia' 'Saint Vincent and the Grenadines'
 'Samoa' 'San Marino' 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal'
 'Serbia' 'Seychelles' 'Sierra Leone' 'Singapore' 'Slovenia'
 'Solomon Islands' 'Somalia' 'South Africa' 'South Sudan' 'Spain'
 'Sri Lanka' 'Sudan' 'Suriname' 'Swaziland' 'Sweden' 'Switzerland'
 'Syrian Arab Republic' 'Tajikistan' 'Thailand'
 'The former Yugoslav republic of Macedonia' 'Timor-Leste' 'Togo' 'Tonga'
 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Turkmenistan' 'Tuvalu' 'Uganda'
 'Ukraine' 'United Arab Emirates'
 'United Kingdom of Great Britain and Northern Ireland'
 'United Republic of Tanzania' 'United States of America' 'Uruguay'
 'Uzbekistan' 'Vanuatu' 'Venezuela (Bolivarian Republic of)' 'Viet Nam'
 'Yemen' 'Zambia' 'Zimbabwe']
Unique values in column Year are: [2015 2014 2013 2012 2011 2010 2009 2008 2007 2006 2005 2004 2003 2002
 2001 2000]
Unique values in column Status are: ['Developing' 'Developed']
Unique values in column Life expectancy  are: [65.  59.9 59.5 59.2 58.8 58.6 58.1 57.5 57.3 57.  56.7 56.2 55.3 54.8
 77.8 77.5 77.2 76.9 76.6 76.2 76.1 75.3 75.9 74.2 73.5 73.  72.8 73.3
 73.6 72.6 75.6 75.4 75.1 74.9 47.8 74.7 74.4 74.1 73.8 73.4 72.9 72.3
 71.7 71.6 71.4 71.3 52.4 51.7 51.1 56.  51.  49.6 49.1 48.7 48.2 47.7
 47.4 47.1 46.8 46.5 45.7 45.3 76.4 75.7 75.2 75.  74.8 74.6 74.  76.3
 76.  75.5 73.9 73.2 72.7 72.  82.8 82.7 82.5 82.3 82.  81.9 81.7 81.3
 81.2 81.  86.  83.  79.9 79.5 81.5 81.4 81.1 88.  84.  79.8 79.4 79.3
 78.8 78.7 78.6 78.1 72.5 72.2 71.9 71.1 78.  69.2 68.4 67.8 67.5 66.6
 74.5 73.1 76.8 76.7 76.5 75.8 71.8 71.  77.  69.9 69.5 69.1 68.6 68.2
 67.3 66.8 66.3 65.8 65.3 73.7 70.  69.8 68.9 68.1 67.7 67.2 68.  89.
 87.  80.  78.9 78.3 77.6 69.4 69.6 69.  68.7 68.5 68.3 60.  59.7 59.3
 59.1 58.7 58.4 57.6 57.1 56.8 56.5 56.1 55.8 55.6 55.5 55.4 67.9 67.4
 67.  66.5 64.2 63.3 62.5 61.7 62.  69.3 66.2 65.7 65.1 64.5 63.9 62.6
 77.4 63.4 62.2 61.1 56.9 48.1 46.4 46.  46.7 77.7 77.1 74.3 72.1 59.
 54.3 53.3 51.6 59.6 58.  57.4 54.1 53.4 52.6 51.9 51.5 51.3 52.8 52.3
 52.  54.  49.9 49.4 48.  47.9 72.4 66.1 65.6 64.1 62.9 61.5 63.  58.5
 57.7 56.4 55.9 54.2 53.6 52.1 51.8 51.4 82.2 81.8 81.6 85.  79.7 79.1
 52.5 53.  49.8 49.2 48.6 47.6 46.3 45.9 45.6 53.1 52.2 51.2 48.5 48.4
 79.6 78.4 77.9 77.3 71.5 63.5 63.2 61.8 61.3 61.  66.  59.8 64.7 63.7
 59.4 58.2 53.2 52.7 52.9  nan 79.2 79.  78.5 78.2 67.6 65.4 58.3 57.9
 56.3 55.7 55.  53.5 62.7 69.7 71.2 68.8 54.4 53.8 64.4 64.  63.6 62.1
 61.4 64.8 57.2 82.4 65.5 64.6 62.8 62.3 61.6 56.6 62.4 61.9 61.2 58.9
 57.8 54.7 53.9 65.9 65.2 63.1 36.3 82.1 66.4 66.9 66.7 83.7 83.5 83.3
 82.6 64.9 64.3 67.1 53.7 46.2 44.5 44.8 45.5 49.3 50.  63.8 45.1 44.6
 44.  43.5 43.1 49.5 49.  55.1 55.2 54.5 48.3 49.7 48.9 44.3 43.3 42.3
 41.5 41.  39.  83.1 82.9 54.9 83.4 83.2 54.6 48.8 46.6 43.8 45.4]
Unique values in column Adult Mortality are: [263. 271. 268. 272. 275. 279. 281. 287. 295. 291. 293.   3. 316. 321.
  74.   8.  84.  86.  88.  91.   1.   9.  99.  15.  17.  18.  14.  11.
  19. 112. 113. 116. 467. 119. 123. 126. 129. 132. 136. 146. 145. 335.
 348. 355. 358. 361. 365. 369. 371. 375. 381. 382. 386. 388. 391.  44.
  48.  13. 131. 133. 134. 138. 142. 144. 147. 149. 151. 153. 154. 156.
 118.  12. 121. 127. 137. 128. 141.  59.   6.  61.  63.  64.  66.  67.
  69.  71.  73.  75.  78.  65.  68.   7.  77.  76.  81.  85.  92.  96.
 125. 162.  16. 172. 167. 161. 168. 171. 174. 189. 192.  79.  83.  87.
 135. 152. 155. 158. 164. 173.  98. 111. 115. 117. 196. 199.  23. 194.
 232. 222. 226. 224. 243. 252. 247. 253. 262. 254.  89.  95. 175. 177.
 188. 186. 184. 181. 191. 197.  21. 249. 251. 259. 278. 283. 284. 285.
 211. 216. 219. 223. 225. 228. 234. 238. 245. 273. 282.  29. 312. 198.
  22.  27.  94.  97. 256. 286. 325. 349. 393. 427. 436. 491. 566. 652.
 693. 699. 679. 647. 148. 157. 159. 163. 176. 179. 183.  93. 139.  26.
 288.  32. 313. 323. 332. 338. 344. 297.  33.  35. 378. 387. 385. 397.
  47. 412. 415. 419. 417. 426. 437. 443. 452. 466. 472. 473. 461. 114.
 122. 124. 195.  24. 274. 357. 366. 364.  37. 373. 395. 394.   4.  41.
  72.  82. 451. 439. 446. 453. 477. 495.  56. 511. 512.  51.  58.  54.
  49. 356. 362. 367. 414.  46.  45.  43. 143. 165. 227. 233. 237. 241.
 246. 255. 266. 269. 267. 298. 314. 354. 368. 424. 416.  nan  52.  53.
  57.  62. 166. 258. 277. 292. 299.  36. 341.  34. 346. 289. 296.  39.
 318. 326. 322. 178.  28. 214. 213. 215. 218. 327. 337. 339. 336. 334.
 261. 311. 329. 342. 343. 345. 593. 328. 363. 372.   2. 221. 229. 276.
 294.  31. 315. 257.  38. 169. 187. 182. 193. 317. 217. 244. 682. 185.
   5.  55. 236. 235. 432. 434. 428. 212. 265. 484. 522. 518. 513. 527.
 592. 633. 654. 675. 666. 648. 622. 586. 543.  42. 333. 248. 377. 441.
 462. 525. 559. 587. 615. 613. 599. 588.  25. 231. 425. 429. 239. 242.
 431. 483. 471. 374. 376. 396. 331. 438. 413. 463. 411. 418. 433. 464.
 496. 519. 533. 352. 347. 449. 486. 498. 497. 485. 459. 359. 383. 564.
 568. 536. 351. 523. 539. 554. 454. 457. 487. 526. 578. 611. 614. 399.
 632. 717. 723. 715. 686. 665.]
Unique values in column infant deaths are: [  62   64   66   69   71   74   77   80   82   84   85   87   88    0
    1   21   65   20   19   67   72   75   78   81   90   92   94   95
   96   97    8    9   10   11   12    5    6    7   98  104  111  118
  126  135  144  154  164  174  185  196  207  219  231   25   13   14
   15    2   42   44   46   49   51   54   57   61   70  103   38   39
   40   41   43   45   47   48   22   23   24   58   59   60   63   16
   17   18   27   50   53   56  157  171  201  215  248  266  285  307
  332  360  391  422  457  490  236  237  238  239  235  233  232  229
  227  226   55    3    4  136  140  145  150  156  162  169  177  186
  206  217  228  246  253   37   26   28   29   30   31   32   33   34
   35   36  910  957 1000 1100 1200 1300 1400 1500 1600 1700 1800  114
  119  124  129  134  138  143  149  159  163  173  182  187   68   76
   52   93   73  483  498  505  513  521  527  536  542  549  556  563
  567  571  574  576  352  359  365  369  371  372  367  364  366  377
  385   79   99  109  112  115  116   86   89   91  100  106  110]
Unique values in column Alcohol are: [0.01 0.03 0.02 ... 2.44 3.56 4.57]
Unique values in column percentage expenditure are: [71.27962362 73.52358168 73.21924272 ... 29.81456607 34.26216876
  8.7174087 ]
Unique values in column Hepatitis B are: [65. 62. 64. 67. 68. 66. 63. 99. 98. 97. 96. 95.  1. 94. 91.  9.  8. 83.
 81. nan 77. 75. 72. 61. 69. 73. 85. 84. 88. 93. 89. 78. 55. 92. 86. 44.
 33. 74. 52. 49.  5. 51. 21. 45. 11. 87. 18. 56.  7.  6. 76. 82. 79. 15.
 36. 48.  4. 42. 28. 14. 47. 23. 46. 37. 39. 24. 17. 27. 25. 16.  2. 35.
 29. 26. 54. 57. 38. 59. 71. 43. 58. 41. 31. 12. 32. 22. 53. 19.]
Unique values in column Measles  are: [  1154    492    430   2787   3013   1989   2861   1599   1141   1990
   1296    466    798   2486   8762   6532      0      9     28     10
     22     68      6      7      8     16     18    662     63     25
    112   5790    103    107    217    944   2302   3289  15374   5862
   2686    118  11699   8523   4458   1449   1190   2807    265   1014
    765    258     29   1196  11945   9046   2219      1      2      3
     17     33     13    137   2281   1783      4     40     69     15
     74    340    158    199    190     70    104     65     11     91
     32    141    108    309    117     36     52     49    448     20
     23     90    164      5    222   1238    827   1978   4353    574
    210     46     12    240    289    237   1986   5625    788    718
   2660   2924   6192  25934   9743   4067   3484   4414   5098     64
     50    149     21     14     45     47     39    109    576     98
     26     61     44     83     55    786    637    288    426    392
   1461    928    341    176    262   1588   5859   4244     27    756
    418    122   1677   3000    166     43    853    184     59   2672
    214    876    220     57     24     42    157  22004   2249     99
    343    375   7362    860   2511  54118    395    125    253     77
   2946   1744   4174   6074    129    495    305    173    784    224
   1016  18363     48    628    441    183    115   3466   4770   5882
   5729    722   1156   4779   4211    394    188    264    352    653
   1361   3761  12237   1809    831    760    609    504    251    100
    196    605    358    899   1448  23934  14629    195    803     62
    101     34    206    150    596    679    471   1233    652    938
   2837   3207   1275    226    120   8650    194    165   1594  10324
  15801   7277  24908   3546  42361  52628  26883   6183   9943  38159
  52461 131441 109023  99602 124219  70549  71879  58341  88962  71093
    139     85    912   1359     71    124    260    315     84    126
    146   3524   3712   2788   2152   1678     51     54     19     30
   3550   5020  33711  88381  72029 133802   5407  12461  55577  80123
 182485  44934  21956  30466   8072   8282    709    143    298     37
     79    113     72    257   5432   1314    405    245    608    668
   1684    953     80   2150   2633   1250    321     78    436     38
   1339    198    127     82    128    376    460    204    789  17745
  12739   5253   4347   3255   4235   1176   3511   1446   1451    357
     73    228   3332   2366   1660    136    304    267    272  14949
   5048   1541    604   4448   5185  10000    110   5129    119    336
    431   3188   7872     31     56    334   1356   6847    216     35
   2464    443   1771   1607    780    917    567   2307    778    121
    779   4657   6024    319   1613    641    420    435     60   1939
  12289  13476  23068    243    175     53     89   2497   2151   7408
  11294    153   3526   1158    159    992  90387  79563  13822  18668
  33634  31458  56188  44258  41144  64185  36711  55443  47147  40044
  51780  38835  15099  12943   8419  15489  21893  18869  20818  15369
  19456  20422  15853  29171  24457  14492   3825   3344    615    189
    332    538    133  11644   9554   9582  11874   1433   1317    669
  30328   5494    230    474    908   9081   4088    726    285     87
     95    584    241    211    931    539    116   5189    372    351
   1617    439    135    599  10982   9385   1457    462    229    434
    450    741  11015    520   8752   8286  33812  22552  22497     41
     76    526  16118   2204     94    354   2395   1218   1282   1516
   1847    766  11304  21002  17779    318    339    174     58    295
   1491   1810   2070   1761    373    956    618    213    516    179
    172   2488    660   1060    279   2200    142    131   1379   5977
    320    329    292   2771   3890    633  35558  62233  10795   9357
  35256 118712   1116    167     92   1318    221   1868   1569    564
   1407    632    408   2198   6187   1395     75    926    215    290
   1719   2939    232    717   4464   1578    234   1292    322   5039
   3611    883   1398    777    140  20359   1205  10677    925    982
    834   1455   2248   1217   6399  10841   6000   2724   7368    145
    177   2321  12598   9396  28898   7155   7085   7375   1010   2175
   2046    333   1088    314   1329    830    736   2519    845    212
    477   1028     86   3138   4076   1278    416    469   1279   1861
   3362   2359   2089   1415   2838   5023  12074  13344   6749  10849
   9397   2632   1019    280    597     66   7693   1142   1224    771
    801    282   2183  63057  54190  31584  61208  21319  12423   6855
  52852   6447  18843   8491   1272   9960   2613    704 110927  31521
 141258  42007 168107 212183    386   1370   8749   8046   4386   4321
    863   1129   2801   7641   2981   4248   4740   3903   3849   2064
   2299   1222   1385   3863  17620   4023   7135    619  58848   2920
   1536   6538   6368   1469    530   3025  10511   7003   7360   7120
    160    361    144    442    114  23060  32647   4929    457    687
   1159   7450   4189    193    353   3196   5043    843   4711   2339
   2123    629   1147    454   2444   3291    580   2072   4800    494
   1064   2738    896   2095    219    154   1164    294    362   4648
    807   1880   1208    311    155    428    999   1519  18184  24789
   5839    383    370    201    607   1006    678   1865   1089    586
    568    649   3575    138    148     96   7497  10229   3173   9983
  17298   1081   1149  12008   8257   9559   3571   3965  12499   5857
     81    244   1043   1166   1459    878    525   1952   1256   1204
   3802    302    297    256     67    152   1568   1686   2107  16527
   3585    676   2813   5616    680    327   1374   9562   4381   4529
   4362   2875    313    350    621    958   2022   1015    700    594
    740    403    517   2144    927    192   2641   5197   3156   2583
   6071   7790   3893   3588   4165   4519  10315   7319   4074    701
    763    203    577    238    187    425    363   1833   3578    231
    342    565   7405    349    111   6200   8927   5844   7823  30509
  16244    478   7878   2027   3312   1313   1601   1319   3776   5736
  29429  49871  48543  42554    105  12746   1333   1005  42724   2392
    411   7587  16970    817    347    344    132   1919   2092   1112
   1212   1445   1022    764     88    185   1668   1622   1574   3413
   7726   2362   1419   1673   5131  11847  14649    667    476    823
    737  15033   1123    578    750   2809   6582    410   2297   6755
  12058  16512    468    815    400   2177   2676    510    130   8079
   6285  12708   8536    890    485  13234  15754    535    459    881
  25036  16997  30930   9696    242    998    529   1483]
Unique values in column  BMI  are: [19.1 18.6 18.1 17.6 17.2 16.7 16.2 15.7 15.2 14.7 14.2 13.8 13.4 13.
 12.6 12.2 58.  57.2 56.5 55.8 55.1 54.3 53.5 52.6 51.7  5.8 49.9 48.9
 47.9 46.9 46.  45.  59.5 58.4 56.1 55.  19.9 53.9 52.8 51.8 49.8 47.
 46.1 45.3 44.4 23.3 22.7 22.1 21.5 21.   2.4 19.8 19.3 18.8 18.2 17.7
 16.8 16.3 15.8 15.4 47.7 46.4 45.7 45.1 43.8 43.2 42.6 42.  41.4  4.8
  4.1 39.5 38.9 38.2 62.8 62.2 61.6 61.   6.4 59.8 59.2 58.6 57.5 56.9
 56.3 55.7 54.6 54.  54.9 54.1 53.3 51.9 51.2  5.7  5.1 49.7 49.2 48.8
 48.4 48.1 47.8 47.4 47.1 66.6 66.1 65.5 65.  64.4 63.9 63.4 62.9 62.5
 62.  61.5  6.9  6.3 59.6 59.  58.2 57.6 57.1 56.6 55.2 54.7 54.2 53.7
 53.2 52.7 52.2  5.6 52.5 51.5 48.  47.3 46.6 45.9 44.7 44.2 43.6 43.1
 42.1 64.5 63.8 63.2 62.6 61.3  6.7  6.1 59.4 58.7 58.1 57.4 56.7 56.
 54.4 63.6  6.8 59.3 58.5 56.8 55.6 54.8 54.5 18.3 17.  16.4 14.6 14.
 13.5 12.5 12.  11.6 11.2  1.8  1.4 53.  51.4 46.2 45.4 44.6 43.  62.3
 61.7 61.1  6.5 59.9 57.7 56.2 55.3 63.7 63.  61.9  6.6  6.2  5.9 49.3
 48.5 46.3 25.7 25.2 24.6 24.1 23.5 23.  22.5 22.   2.5  2.1 19.7 19.2
 18.4 24.5 23.6 21.9 21.1  2.3 19.5 18.  17.4 16.1 15.5 14.9 14.4 13.9
 48.6 46.7 44.  43.3 53.1 52.1 51.   5.5 49.4 48.2 47.6 37.9 37.3 36.8
 36.2 35.7 35.2 34.7 34.2 33.7 33.2 32.7 32.2 31.6 31.1  3.5 29.9 53.6
 52.  51.1  5.3 44.5 43.7 41.2  4.2 39.2 37.2 31.2  3.1 29.1 28.  27.
 26.1 65.7 65.1 63.3 62.7 62.1 59.7 59.1 57.  19.4 17.1 16.6 15.6 15.1
 13.7 13.3 12.9 18.7 14.8 14.5 14.1 12.8 27.4 26.8 26.2 25.6 25.  24.4
 23.8 23.2 22.6  2.9 31.3 29.7 29.  28.2 27.5 25.5 24.9 24.3 23.7 19.6
 18.9 15.9 15.3 14.3 13.1 12.4 12.1 28.4 27.8 27.2 26.6 26.  25.4 22.8
 22.3 21.8 21.3 67.  66.4 65.8 65.3 64.7 64.1  6.  57.8 21.6 21.2  2.7
  2.2 19.  17.9 17.5 16.5 63.1 61.8 61.2 55.4 32.9 31.9  3.9  3.  28.1
 27.3 26.5 23.4 57.9 56.4 51.3 49.  47.5 24.2  2.6 17.3 23.9 21.7 82.8
 55.5 53.4 52.4 48.3 61.4 53.8  5.4 58.3 57.3 65.6 64.  32.4 31.8  3.8
  3.3 29.2 28.7 27.7 26.7 17.8 16.9 58.8 55.9 35.  34.4 33.8 31.7  3.6
  3.2 29.8 29.4 28.6 58.9 47.2 44.1  5.  46.5 45.8 44.3 52.9 52.3 24.
 16.  13.6 13.2 12.3  5.2 36.3 35.8 34.6 34.1 33.5 33.  31.4 24.8 22.2
 18.5 22.4 66.5 66.  65.4 64.9 64.3 62.4 45.6 43.9 42.4 41.8 41.1  4.5
 39.9 39.4 38.8 37.7 45.2 41.7  4.4  2.8 26.3 23.1 41.6  4.9  4.3 39.6
 39.  38.4 37.8 37.1 36.4  4.7 38.5 37.5 36.5 35.6 34.8 34.  46.8 43.5
 42.8 64.8 64.2 11.8 11.4 24.7 22.9 45.5 44.9 49.5 64.6 42.5 26.9 26.4
 25.9 44.8 77.6 77.1 76.7 76.2 75.7 75.2 74.6 74.1 73.4 72.8 72.1 71.4
  7.6 69.7 68.8 67.9  7.8  7.2 69.5 69.  68.4 67.5 67.1 66.7 66.3 65.9
 42.2 38.  37.  36.  12.7 63.5 32.6 32.  28.8 28.3 27.9  2.  15.   4.6
 37.4 35.3 33.4 32.5  3.7 25.1 69.6 69.2 68.  67.6 81.6 33.3 32.8 32.3
 25.8 25.3 69.4 68.7 68.1 65.2  nan 41.3 39.8 39.1 49.1 34.9 31.  87.3
 11.9 66.9 77.3 83.3 43.4 42.7 41.9 69.3 67.7  3.4 29.5 48.7 21.4 42.9
 41.  74.7 74.3 73.8 72.9 72.5 72.   7.9  7.3 68.9 68.2 67.4 29.3 28.5
 67.3 35.5 27.6 27.1 32.1 31.5 29.6 28.9 51.6 38.7 36.6 35.9 33.6 74.8
 73.3 72.7 71.5  7.1 68.6 67.8 66.2 39.3 37.6  4.  38.1 79.3 69.1 11.3
  1.9  1.   9.6  9.2 35.1 34.5 33.9]
Unique values in column under-five deaths  are: [  83   86   89   93   97  102  106  110  113  116  118  120  122    0
    1   24   94   23   22   25   98  101  105  115  121  127  133  138
  143  148  152  155  157  159  160    9   10   11   12   13   14    2
    6    7    8  130  139  150  161  173  186  201  215  231  247  264
  280  298  316   39   40   15   16   17   18   19   20    3    4   47
   49   52   54   57   61   64   68   73   79   85  100  109   63   66
   71   74   77   80   91   92   31   32   33   34   35   36   37   38
   41   81   82   84   87   90   95   21   26   29   76   99   78   75
  183  198  216  233  251  268  288  308  332  360  392  427  467  511
  558  608  312  314  317  319  321  323  324  326  327  329  330  331
   60   62   65   70   72    5  194  202  211  221  243  256  270  286
  304  342  377  404   55   56   58   59   42   43   44   46   48   51
   53   27   28 1100 1200 1300 1400 1500 1600 1700 1800 1900 2000 2100
 2200 2300 2400 2500  136  142  154  167  174  181  188  237  222  229
   30  104  108  112   45   50   88   96  103  111  117  124  132   69
  114  128  747  759  773  788  802  817  832  848  863  879  893  907
  918  928  936  943  433  442  450  456  459  461  460  458  466  474
  483  495  119  137  145  164  187  191  126  131  135  141  149  166]
Unique values in column Polio are: [ 6. 58. 62. 67. 68. 66. 63. 64.  5. 41. 36. 35. 24. 99. 98. 97. 95.  7.

In [5]:
lifeDf.nunique()

Country                             193
Year                                 16
Status                                2
Life expectancy                     362
Adult Mortality                     425
infant deaths                       209
Alcohol                            1076
percentage expenditure             2328
Hepatitis B                          87
Measles                             958
 BMI                                608
under-five deaths                   252
Polio                                73
Total expenditure                   818
Diphtheria                           81
 HIV/AIDS                           200
GDP                                2490
Population                         2278
 thinness  1-19 years               200
 thinness 5-9 years                 207
Income composition of resources     625
Schooling                           173
dtype: int64

In [6]:
fill_list = ['Life expectancy', 'Adult Mortality', 'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B', 'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure', 'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population', ' thinness 1-19 years', ' Schooling', 'Income composition of resources', 'Schooling']

In [7]:
lifeDf["Hepatitis B"].fillna(lifeDf["Hepatitis B"].mean(), inplace=True)
lifeDf["Adult Mortality"].fillna(lifeDf["Adult Mortality"].mean(), inplace=True)
lifeDf["Alcohol"].fillna(lifeDf["Alcohol"].mean(), inplace=True)
#lifeDf["Measles"].fillna(lifeDf["Measles"].mean(), inplace=True)
lifeDf["Polio"].fillna(lifeDf["Polio"].mean(), inplace=True)
#lifeDf["Diphtheria"].fillna(lifeDf["Diphtheria"].mean(), inplace=True)
#lifeDf["HIV/AIDS"].fillna(lifeDf["HIV/AIDS"].mean(), inplace=True)
lifeDf["Population"].fillna(lifeDf["Population"].mean(), inplace=True)
lifeDf["GDP"].fillna(lifeDf["GDP"].mean(), inplace=True)
lifeDf["Schooling"].fillna(lifeDf["Schooling"].mean(), inplace=True)
lifeDf["Income composition of resources"].fillna(lifeDf["Income composition of resources"].mean(), inplace=True)
#lifeDf["thinness 1-19 years"].fillna(lifeDf["thinness 1-19 years"].mean(), inplace=True)
lifeDf["percentage expenditure"].fillna(lifeDf["percentage expenditure"].mean(), inplace=True)
#lifeDf["under-five deaths"].fillna(lifeDf["under-five deaths"].mean(), inplace=True)
#lifeDf["BMI"].fillna(lifeDf["BMI"].mean(), inplace=True)

## remaining

In [8]:
lifeDf.isnull().sum()*100/lifeDf.isnull().count()

Country                            0.000000
Year                               0.000000
Status                             0.000000
Life expectancy                    0.340368
Adult Mortality                    0.000000
infant deaths                      0.000000
Alcohol                            0.000000
percentage expenditure             0.000000
Hepatitis B                        0.000000
Measles                            0.000000
 BMI                               1.157250
under-five deaths                  0.000000
Polio                              0.000000
Total expenditure                  7.692308
Diphtheria                         0.646698
 HIV/AIDS                          0.000000
GDP                                0.000000
Population                         0.000000
 thinness  1-19 years              1.157250
 thinness 5-9 years                1.157250
Income composition of resources    0.000000
Schooling                          0.000000
dtype: float64

In [9]:
countryList = lifeDf.Country

for i in range(0, len(lifeDf.Country)):
    if pd.isnull(lifeDf.Country[i]):
        lifeDf.Country[i] = lifeDf.Country[i-1]
        
lifeDf["Country"].unique()

array(['Afghanistan', 'Albania', 'Algeria', "CÃ´te d'Ivoire", 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia (Plurinational State of)', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Congo', 'Cook Islands', 'Costa Rica',
       'Croatia', 'Cuba', 'Cyprus', 'Czechia',
       "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Slovakia', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic",
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Micronesia (Federated States of)', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Niue', 'Norway', 'Oman', 'Pakistan', 'Palau',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Qatar', 'Republic of Korea',
       'Republic of Moldova', 'Romania', 'Russian Federation', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden',
       'Switzerland', 'Syrian Arab Republic', 'Tajikistan', 'Thailand',
       'The former Yugoslav republic of Macedonia', 'Timor-Leste', 'Togo',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States of America',
       'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Yemen',
       'Zambia', 'Zimbabwe'], dtype=object)

In [10]:
lifeDf.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                      0
infant deaths                        0
Alcohol                              0
percentage expenditure               0
Hepatitis B                          0
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                                0
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                  0
Population                           0
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources      0
Schooling                            0
dtype: int64

In [11]:
lifeDf.columns = lifeDf.columns.str.strip().str.lower().str.replace(' ', '_')

In [12]:
lifeDf.head()

,country,year,status,life_expectancy,adult_mortality,infant_deaths,alcohol,percentage_expenditure,hepatitis_b,measles,...,polio,total_expenditure,diphtheria,hiv/aids,gdp,population,thinness__1-19_years,thinness_5-9_years,income_composition_of_resources,schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [13]:
lifeDf["life_expectancy"].fillna(lifeDf["life_expectancy"].mean(), inplace=True)
lifeDf["thinness__1-19_years"].fillna(lifeDf["thinness__1-19_years"].mean(), inplace=True)

In [14]:
lifeDf.isnull().sum()

country                              0
year                                 0
status                               0
life_expectancy                      0
adult_mortality                      0
infant_deaths                        0
alcohol                              0
percentage_expenditure               0
hepatitis_b                          0
measles                              0
bmi                                 34
under-five_deaths                    0
polio                                0
total_expenditure                  226
diphtheria                          19
hiv/aids                             0
gdp                                  0
population                           0
thinness__1-19_years                 0
thinness_5-9_years                  34
income_composition_of_resources      0
schooling                            0
dtype: int64

In [18]:
lifeDf.drop(['thinness_5-9_years', 'status'], inplace =True)

KeyError: "['thinness_5-9_years' 'status'] not found in axis"

In [16]:
lifeDf.isnull().sum()

country                              0
year                                 0
status                               0
life_expectancy                      0
adult_mortality                      0
infant_deaths                        0
alcohol                              0
percentage_expenditure               0
hepatitis_b                          0
measles                              0
bmi                                 34
under-five_deaths                    0
polio                                0
total_expenditure                  226
diphtheria                          19
hiv/aids                             0
gdp                                  0
population                           0
thinness__1-19_years                 0
thinness_5-9_years                  34
income_composition_of_resources      0
schooling                            0
dtype: int64

In [17]:
lifeDf.describe()

,year,life_expectancy,adult_mortality,infant_deaths,alcohol,percentage_expenditure,hepatitis_b,measles,bmi,under-five_deaths,polio,total_expenditure,diphtheria,hiv/aids,gdp,population,thinness__1-19_years,thinness_5-9_years,income_composition_of_resources,schooling
count,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2904.000000,2938.000000,2938.000000,2712.00000,2919.000000,2938.000000,2938.000000,2.938000e+03,2938.000000,2904.000000,2938.000000,2938.000000
mean,2007.518720,69.224932,164.796448,30.303948,4.602861,738.251295,80.940461,2419.592240,38.321247,42.035739,82.550188,5.93819,82.324084,1.742103,7483.158469,1.275338e+07,4.839704,4.870317,0.627551,11.992793
std,4.613841,9.507640,124.080302,117.926501,3.916288,1987.914858,22.586855,11467.272489,20.044034,160.445548,23.352143,2.49832,23.716912,5.077785,13136.800417,5.381546e+07,4.394535,4.508882,0.204820,3.264381
min,2000.000000,36.300000,1.000000,0.000000,0.010000,0.000000,1.000000,0.000000,1.000000,0.000000,3.000000,0.37000,2.000000,0.100000,1.681350,3.400000e+01,0.100000,0.100000,0.000000,0.000000
25%,2004.000000,63.200000,74.000000,0.000000,1.092500,4.685343,80.940461,0.000000,19.300000,0.000000,78.000000,4.26000,78.000000,0.100000,580.486996,4.189172e+05,1.600000,1.500000,0.504250,10.300000
50%,2008.000000,72.000000,144.000000,3.000000,4.160000,64.912906,87.000000,17.000000,43.500000,4.000000,93.000000,5.75500,93.000000,0.100000,3116.561755,3.675929e+06,3.400000,3.300000,0.662000,12.100000
75%,2012.000000,75.600000,227.000000,22.000000,7.390000,441.534144,96.000000,360.250000,56.200000,28.000000,97.000000,7.49250,97.000000,0.800000,7483.158469,1.275338e+07,7.100000,7.200000,0.772000,14.100000
max,2015.000000,89.000000,723.000000,1800.000000,17.870000,19479.911610,99.000000,212183.000000,87.300000,2500.000000,99.000000,17.60000,99.000000,50.600000,119172.741800,1.293859e+09,27.700000,28.600000,0.948000,20.700000